# Configuration file

general {
    #  [default: [Ljava.lang.String;@184c078b]
    S:currencyItems <
        minecraft:emerald
     >

    #  [default: true]
    B:loadTradesFromJar=true

    #  [default: true]
    B:loadVillagersFromJar=true

    #  [default: true]
    B:sortTrades=true
}


